body {
  background-color: rgb(76, 99, 0);
  background-image: url("../public/greenPlant.png");
  background-repeat: no-repeat;
  background-position: 50% 1%;
}
.mainCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.navBar{
  width: 100%;
  background-color:rgb(44, 56, 14);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navBar a {
  padding: 10px;
  color:wheat;
  text-decoration: none;
}